body {
    margin: 0;
    padding: 0;
    font-family: $default-font;
    font-size: $default-font-size;
    overflow-y: scroll;
    padding-bottom: 150px;
    background-color: #1c2742;
}

a {
    color: $link-color;
    text-decoration: none;
    
    &:hover {
        color: darken($link-color, 20%);
    }
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.inner-wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: white;
    min-height: 54px;

    .header-placeholder {
        background-color: white;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        border-bottom: solid 1px #1c2742;

        .logo-placeholder {
            float: left;
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        ul.nav {
            padding: 0;
            margin: 0;
            float: right;
            margin-top: 17px;
            font-size: 17px;
            
            li {
                list-style: none;
                float: left;
                margin-left: 15px;
            }
        }
    }
    
    .promo-image {
        position: absolute;
        width: 100%;
        height: 325px;
        clip: rect(0, auto, auto, 0);
        top: 54px;
        
        img {
            position: fixed;
            top: 0;
        }
    }
}

article {
    background-color: white;
    margin-top: 325px;
    line-height: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .single-article {
        margin-bottom: 40px;
    }
}

footer {
    ul {
        padding: 0;
        margin: 15px 0 0 0;

        li {
            list-style: none;
        }
    }
}